# Discovery
LISTENBRAINZ_USER=

# Music system (Navidrome/Subsonic)
EXPLO_SYSTEM=subsonic
SYSTEM_URL=http://host.docker.internal:4533
SYSTEM_USERNAME=
SYSTEM_PASSWORD=
ADMIN_SYSTEM_USERNAME=
ADMIN_SYSTEM_PASSWORD=
PUBLIC_PLAYLIST=false

# Downloader
DOWNLOAD_SERVICES=slskd,youtube
SLSKD_URL=http://host.docker.internal:5030
SLSKD_API_KEY=
SLSKD_DIR=/slskd/
TRACK_EXTENSION=flac
FILTER_LIST=live,remix,instrumental,extended,clean,acapella

# Metadata
SINGLE_ARTIST=true
PLAYLISTNAME_FORMAT=week

# Misc
SLEEP=2
LOG_LEVEL=INFO
